<div class="container-img">
    <h2>What's in Store</h2> 
    <h3>From indulgent mithai, chocolatey sweets, and sugar-doused treats, we have something to put everyone in a good mood!</h3>
    <div class="image-box">
        <div class="circle">
        <div style="background-color:white;">
            <img src="https://cdn.shopify.com/s/files/1/0713/8587/4686/files/image_2_5d052e04-8760-49e9-ac32-fe1c36992b99.png?v=1728304293" alt="Mithai">
        </div>
            <p>Mithai</p> 
        </div>
        <div class="circle">
        <div style="background-color:pink;">
            <img src="https://cdn.shopify.com/s/files/1/0713/8587/4686/files/image_9.png?v=1728304288" alt="Chocolate">
        </div>
            <p>Chocolate</p> 
        </div>
        <div class="circle">
        <div style="background-color:lightgreen;">
            <img src="https://cdn.shopify.com/s/files/1/0713/8587/4686/files/image_10.png?v=1728304284" alt="Kadhai">
        </div>
            <p>Kadhai</p> 
        </div>
        <div class="circle">
        <div>
        <img src="https://cdn.shopify.com/s/files/1/0713/8587/4686/files/image_15.png?v=1728304215" alt="Sweet Treat">
        </div>
            <p>Sweet Treat</p> 
        </div>
    </div>
</div>
