<div class="logo-container">
  <h4 class="logo-heading">Feature in</h4>
  <div class="logo-items">
    <div class="logo-item">
      <img src="https://cdn.shopify.com/s/files/1/0713/8587/4686/files/elle-1-1_1_7_png.png?v=1728374519" alt="Logo 1">
    </div>
    <div class="logo-item">
      <img src="https://cdn.shopify.com/s/files/1/0713/8587/4686/files/Vector_12_11863016-dd46-45e6-901a-e1488c4f2830_png.png?v=1728374527" alt="Logo 2">
    </div>
    <div class="logo-item">
      <img src="https://cdn.shopify.com/s/files/1/0713/8587/4686/files/vogue_4_1f0d73f4-ab39-4ed9-b18b-3db619e29cac_png.png?v=1728374535" alt="Logo 3">
    </div>
    <div class="logo-item">
      <img src="https://cdn.shopify.com/s/files/1/0713/8587/4686/files/Group_272_2_png.png?v=1728374541" alt="Logo 4">
    </div>
    <div class="logo-item">
      <img src="https://cdn.shopify.com/s/files/1/0713/8587/4686/files/wsj-mag-social-share_2_6_a27eb1ba-638f-4e57-ade5-d3498b54c3f8_png.png?v=1728374549" alt="Logo 5">
    </div>
    <div class="logo-item">
      <img src="https://cdn.shopify.com/s/files/1/0713/8587/4686/files/Group_273_2_png.png?v=1728374553" alt="Logo 6">
    </div>
    <div class="logo-item">
      <img src="https://cdn.shopify.com/s/files/1/0713/8587/4686/files/elle-1-1_1_7.png_1.png?v=1728374557" alt="Logo 7">
    </div>
    <div class="logo-item">
      <img src="https://cdn.shopify.com/s/files/1/0713/8587/4686/files/Vector_12_11863016-dd46-45e6-901a-e1488c4f2830.png_1.png?v=1728374561" alt="Logo 8">
    </div>
  </div>
</div>
