<div class="container">
    <h1>Bringing back the magic of Mithai</h1>
    <div class="box">
        <img src="https://cdn.shopify.com/s/files/1/0713/8587/4686/files/div.type-icon.png?v=1728369322" alt="Taste Icon" class="icon"> 100% Taste
    </div>
    <div class="box">
        <img src="https://cdn.shopify.com/s/files/1/0713/8587/4686/files/div.type-icon_1.png?v=1728369326" alt="No Preservatives Icon" class="icon"> No Preservatives
    </div>
    <div class="box">
        <img src="https://cdn.shopify.com/s/files/1/0713/8587/4686/files/div.type-icon_2.png?v=1728369331" alt="Diabetics Icon" class="icon"> Safe for Diabetics
    </div>
    <div class="box">
        <img src="https://cdn.shopify.com/s/files/1/0713/8587/4686/files/div.type-icon_3.png?v=1728369335" alt="Free Shipping Icon" class="icon"> Free Shipping
    </div>
    <div class="box">
        <img src="https://cdn.shopify.com/s/files/1/0713/8587/4686/files/div.type-icon_4.png?v=1728369338" alt="Easy Returns Icon" class="icon"> Easy Returns
    </div>
</div>
