<footer class="footer">
  <div class="footer-content">
    <div class="footer-left">
      <h2>Healthy Mithai</h2>
      <p>
        Brought to you by the team behind Mumbai's award-winning restaurants - 
        The Bombay Canteen, O Pedro, Veronica's, and Papa's and a bi-monthly food 
        mag- enthucutlet.com, is Bombay Sweet Shop - a celebratory offering that 
        reimagines Indian sweets, mithai, and savories moulded for all your happy 
        occasions.
      </p>
      <div class="contact">
        <p>Email: <a href="mailto:chat@healthymithaishop.com">chat@healthymithaishop.com</a></p>
        <p>Phone: <a href="tel:+919136192636">+91 91361 92636</a></p>
      </div>
      <form class="subscribe-form">
        <input type="email" placeholder="Enter your Email" required>
        <button type="submit">Subscribe Now</button>
      </form>
      <p class="footer-note">
        Subscribe To Get Updates On The Latest Workshops, Events And Products. We Don't Spam. It's A Promise.
      </p>
    </div>
    <div class="footer-options">
      <span>
        <img src="https://cdn.shopify.com/s/files/1/0713/8587/4686/files/div.type-icon_5.png?v=1728390090" alt="Free Shipping" />
        Free Shipping
      </span>
      <span>
        <img src="https://cdn.shopify.com/s/files/1/0713/8587/4686/files/div.type-icon_6.png?v=1728390091" alt="Easy Returns" />
        Easy Returns
      </span>
      <span>
        <img src="https://cdn.shopify.com/s/files/1/0713/8587/4686/files/div.type-icon_7.png?v=1728390095" alt="3-5 days delivery" />
        3-5 days delivery
      </span>
    </div>
    <div class="footer-right">
      <ul class="quick-links">
        <li><a href="#">Shop</a></li>
        <li><a href="#">Mithai</a></li>
        <li><a href="#">Sweets Library</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">FAQ</a></li>
      </ul>
      <div class="footer-icons">
        <a href="#">Instagram</a>
        <a href="#">Facebook</a>
        <a href="#">Twitter</a>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <p>© 2024 HealthyMithai. All rights reserved.</p>
  </div>
</footer>
